@model System.Collections.Generic.List<AspNetMvcNorthwind.Entities.Product>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">@product.UnitPrice</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
