@model AspNetMvcNorthwind.MvcWebUI.Models.ProductViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">@product.UnitPrice</p>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("productId", product.ProductID)
                            <input class="btn btn-primary" type="submit" value="Add to cart"/>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md-12 pt-3">
            @Html.Pager(Model.PagingInfo, a => Url.Action("Index", new { page = a, category = Model.CurrentCategory }))
        </div>
    </div>
</div>
